/*
----------------------------------------------------
--- HAZUMI MADE BY THEMEGLOBAL.COM OC 1.5.6.x --------
----------------------------------------------------
*/
html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background: #30353d url('../image/bgr.jpg') no-repeat;
	color: #000000;
	font-family: 'Raleway',sans-serif;
	margin: 0px;
	padding: 0px;
	
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}

h1, .welcome {
	color: #000000;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
h2 {
    font-size: 16px;
    text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #6A6A6A;
}
a {
   outline: 0;
}
a, a b {
	text-decoration: none;
	cursor: pointer;
	color: #EF2743;
}
a:hover {
	text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
::-moz-selection {
	background: #ffbb00;
	color: #000;
	text-shadow: 0 1px #FFF;
}
a img {
	border: none;
}
img {
    border: 0 none;

}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #53565A;
    padding: 7px;
	width: 220px;
}
select {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #53565A;
    padding: 7px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	background: #FFFFFF;
	padding-top: 20px;
}
#container-header {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	background: #FFFFFF;
}
#column-left {
	float: left;
	width: 212px;
}
#column-right {
	float: right;
	width: 212px;
}
#content {
	min-height: 400px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 232px;
}
#column-right + #content {
	margin-right: 232px;
}
/* header */
.setting-holder {
	position: relative;
	height: 48px;
}

#header {
	height: 100px;
	position: relative;
	z-index: 99;
	background: #1e2126;
	margin-left: -20px;
	margin-right: -20px;
}
#header #logo {
	float: left;
	position: relative;
	z-index: 1;
	min-height: 100px;
}
#header #logo a{
	font-size: 0;
	float: left;
}
#language {
	color: #444444;
	margin-bottom: 10px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
}
#currency {
	color: #444444;
}
#currency a {
	display: inline-block;
	margin-top: 5px;
	color: #444444;
	text-decoration: none;
	padding-right: 10px;
}
#currency a:hover {
	color: #EF2743;
}
#currency a b {
	color: #EF2743;
	text-decoration: none;
}
#tg-setting {
	background: url('../image/setting.png') 15px 15px no-repeat;
	height: 50px;
	width: 50px;
	float: right;
	cursor: pointer;
	border-left: 1px solid #292d33;
	position: relative;
}

#tg-links {
	background: url('../image/links.png') 20px 17px no-repeat;
	height: 50px;
	width: 50px;
	float: right;
	cursor: pointer;
	border-left: 1px solid #292d33;
	position: relative;
}

#tg-links .content {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    clear: both;
    max-width: 142px;
    min-width: 142px;
    padding: 20px;
    position: absolute;
    top: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 9000;
	left: 0;
	display: none;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
#tg-links.active .content {
	display: block;
}
#tg-links .content ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#tg-links .content li{
	margin-bottom: 10px;
}
#tg-links .content li a{
	color: #444444;
}
#tg-links .content li a:hover{
	color: #EF2743;
}
#tg-setting .content {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    clear: both;
    max-width: 142px;
    min-width: 142px;
    padding: 20px;
    position: absolute;
    top: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 9000;
	left: 0;
	display: none;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#tg-setting.active .content {
	display: block;
}

#header #cart {
	float: right;
	position: relative;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


#header #cart .heading {
	float: right;
	margin-right: 0px;
	padding-left: 14px;
	padding-right: 20px;
	background: #ef2743;
	position: relative;
	z-index: 1;
	height: 50px;
	min-width: 100px;
	text-align: right;
	 -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #ffffff;
	text-decoration: none;
	height: 24px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	font-weight: 700;
}
#header #cart .heading a span {
	/* background: url('../image/cart.png') 0px 0px no-repeat; */
	padding-left: 40px;
	line-height: 48px;

}
#header #cart .content {
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    clear: both;
    max-width: 450px;
    min-height: 150px;
    min-width: 280px;
    padding: 20px;
    position: absolute;
    top: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 9000;
	right: 0;
	display: none;
}
#header #cart.active .heading {

}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	font-size: 14px;
}
.mini-cart-info td a{
	color: #000000;
	font-size: 14px;
}

.mini-cart-info td a:hover{
	color: #EF2743;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: left;
	border-top: 1px solid #f0f0f0;
	margin-left:-20px;
	margin-right: -20px;
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}

.tg-cart {
	background: #EF2743;
	padding: 8px 10px;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
}

.tg-cart:hover {
	background: #000000;
}

a.tg-cart  {
	color: #FFFFFF;
}

.tg-checkout {
	background: #000000;
	padding: 8px 10px;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 8px;
}

.tg-checkout:hover {
	background: #EF2743;
}

a.tg-checkout {
	color: #FFFFFF;
}	

.tg-cart-holder {
	margin-top: 30px;
    padding-bottom: 10px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	float: right;
	position: relative;
	width: 262px;
	margin-right: 10px;
	margin-top: 10px;

}
#header .button-search {
	position: absolute;
	right: 0px;
	background: #000000 url('../image/button-search.png') center center no-repeat;
	width: 35px;
	height: 26px;
	cursor: pointer;
}
#header #search input {
	background: #151515;
	width: 223px;
	height: 20px;
	border: none;
	color: #4b4b4b;
	padding-left: 20px;
	height: 26px;
}
#header #welcome {
	z-index: 5;
	float: left;
	color: #949494;
	margin-left: 15px;
	line-height: 48px;




}
#header #welcome a{
	color: #EF2743;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
.menu-holder {
	height: 50px;
	border-bottom: 2px solid #000000;
}
#menu {
	float: left;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
}
#menu > ul > li:hover {
}

#menu > ul > li > a {
	font-size: 12px;
	color: #949494;
	line-height: 12px;
	text-decoration: none;
	display: block;
	padding: 20px 15px 20px 15px;
	z-index: 6;
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}
#menu > ul > li:hover > a {
	background: #ef2743;
	color: #FFFFFF;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	min-width: 190px;
	border-bottom: 1px solid #efefef;
    border-left: 3px solid #FFFFFF;
    color: #444444!important;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    white-space: nowrap;
	
}
#menu > ul > li ul > li > a:hover {
	border-left: 3px solid #ef2743;
	color: #ef2743!important;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
}
.breadcrumb, .breadcrumb a {
	margin-bottom: 20px;
	font-family: 'PT Sans','sans-serif';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
	color: #000000;
}
.breadcrumb a:hover {
	color: #EF2743;
}	
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 10px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px dotted #A9A9A9;
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
	border-radius: 0;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	background: #000000;
	text-transform: uppercase;
	border: none;
	font-family: 'Raleway',sans-serif;
}
a.button {
	display: inline-block;
	margin: 0;
	height: 31px;
	padding: 0px 15px 0px 15px;
	line-height: 31px;
}
input.button {
	margin: 0;
	height: 31px;
	padding: 0px 15px 0px 15px;
	line-height: 31px;
}
a.button:hover, input.button:hover {
	color: #FFFFFF;
	background: #EF2743;
}
.buttons {
	overflow: auto;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
    height: 40px;
    line-height: 16px;
}
.htabs a {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #333333;
    display: none;
    float: left;
    font-size: 14px;
    margin-right: 2px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	font-family: 'PT Sans','sans-serif';
}
.htabs a:hover {
	background: none repeat scroll 0 0 #EF2743;
	color: #FFFFFF;
}
.htabs a.selected {
    background: none repeat scroll 0 0 #EF2743;
    color: #FFFFFF;
}
.tab-content {
    border: 1px solid #E6E6E6;
    color: #999999;
    margin-bottom: 20px;
    overflow: auto;
    padding: 30px;
    z-index: 2;
}

.tab-related {
    border: 1px solid #E6E6E6;
    color: #999999;
    margin-bottom: 20px;
    overflow: auto;
    z-index: 2;
	padding-top: 30px;
	clear: both;
}
/* box */
.box {
	
}
.box .box-heading {
	color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
	margin-bottom: 20px;
}

#column-left .box .box-heading, #column-right .box .box-heading  {
	color: #000000;
    font-size: 16px;
    font-weight: 500;
	border-bottom: 1px dotted #C8C8C8;
    display: inline-block;
    padding: 14px 0;
    text-transform: uppercase;
	width: 212px;
	margin-bottom: 0px;
}	

	
.box .box-content {
	background: #FFFFFF;
}
/* box products */
.box-product {
	width: 100%;
	overflow: hidden;
}
.box-product > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	padding: 14px 0;
	text-transform: uppercase;	
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
#column-left .box-product .price-old, #column-right .box-product .price-old {
	font-size: 12px;
}
.box-product .price-new {

}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}

/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-weight: bold;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 20px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
    margin-right: 20px;
    padding: 5px;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border: 1px dotted #C8C8C8;
    margin-bottom: 20px;
    overflow: auto;
    padding: 10px 20px;
}
.product-filter .display {
    color: #333333;
    float: right;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	 color: #333333;
    float: left;
}
.product-filter .limit {
	color: #333333;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.product-compare {
	margin-top: 8px;
}
.product-compare a {
	color: #333333;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.product-compare a:hover {
	color: #EF2743;
}

#grid_a {
    background: #d2d2d2  url("../image/grid_a.png") no-repeat;
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
    margin-left: 10px;
	position:relative;
	top: 8px;

}
#grid_b {
    background: #000000  url("../image/grid_a.png") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 10px;
	position:relative;
	top: 8px;
}

#list_a {
    background: #d2d2d2 url("../image/list_a.png") no-repeat;
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
	position: relative;
	top: 8px;
}
#list_b {
    background: #000000   url("../image/list_a.png") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
	position:relative;
	top: 8px;
}

#grid_a:hover {
   background-color: #333333;
}
#list_a:hover {
    background-color: #333333;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 24px;
	position: relative;
}

.product-list .sale {
	left: 0px;
	top: 20px;
}

.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px dotted #C8C8C8;
	padding-top: 20px;
}
.product-list .image {
	float: left;
	margin-right: 30px;
	min-height: 150px;
}
.product-list .image img {

}
.product-list .name {
	margin-bottom: 10px;
}
.product-list .name a {
	color: #53565A;
    font-size: 14px;
    margin-bottom: 20px;
}
.product-list .name a:hover {
	color: #EF2743;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 10px;
	color: #898989;
}
.product-list .rating {
	color: #7B7B7B;
	margin-bottom: 10px;
}
.product-list .price {
	margin-bottom: 10px;
	color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
	font-size: 14px;
}

.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #898989;
}
.product-list .cart {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
	margin-bottom: 8px;
}
.product-list .wishlist, .product-list .compare {
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.product-list .wishlist a {
    background: url("../image/addtowishlist-list.png") no-repeat;
}
.product-list .compare a {
    background: url("../image/addtocompare-list.png") no-repeat;
}
.product-list .wishlist a, .product-list .compare a {
    color: #333333;
    display: inline-block;
    font-size: 11px;
    padding-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
	font-family: 'Source Sans Pro',sans-serif;
	line-height: 17px;
	height: 20px;
}
.product-list .wishlist a:hover{
	color: #EF2743;
	 background: url("../image/addtowishlist-list-hover.png") no-repeat;
}
.product-list .compare a:hover {
	color: #EF2743;
	background: url("../image/addtocompare-list-hover.png") no-repeat;
}
.product-list .compare a {
	margin-left: 20px;
}	
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 222px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}
.product-grid .sale2 {
	left: 0px;
	top: 0px;
}

.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	margin-bottom: 20px;
}
.product-grid .name a {
	color: #53565A;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}
.product-grid .name a:hover {
	color: #EF2743;
}
.product-grid .name {
	margin-bottom: 10px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 15px;
}
.product-grid .price {
	color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
}
.product-grid .price-old {
	color: #FF0000;
    font-size: 14px;
    text-decoration: line-through;
}
.product-grid .price-new {
	
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}

.product-grid .wishlist a  {
	text-decoration: none;
	display: block;
	background: url('../image/wishlist.png') no-repeat;
	width: 12px;
	height: 9px;
	float: left;
	text-align: center;
	margin-bottom: 20px;
	text-indent: -99999px;
}
.product-grid .wishlist a:hover {
	background: url('../image/wishlist-hover.png') no-repeat;
}
.product-grid .compare a  {
	color: #636363;
	text-decoration: none;
	text-align: center;
	display: block;
	background: url('../image/compare.png') no-repeat;
	width: 12px;
	height: 9px;
	float: right;
	margin-bottom: 20px;
	text-indent: -99999px;
}
.product-grid .compare a:hover {
	background: url('../image/compare-hover.png') no-repeat;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
    margin-left: 330px;
}
.product-info .image {
    border: 1px solid #E6E6E6;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
.product-info .image-additional {
    clear: both;
    overflow: hidden;
    width: 300px;
}
.product-info .image-additional img {
    border: 1px solid #E6E6E6;
}
.product-info .image-additional img:hover {
    border: 1px solid #000000;
}
.product-info .image-additional a {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 1px;
}
.product-info .description {
    color: #333333;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 5px 5px 10px;
}

.product-info .description span {
    color: #333333;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	color: #333333;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 500;
    overflow: auto;
    padding: 0 5px 10px;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
	font-size: 16px;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
}
.product-info .cart input {
    color: #333333;
    display: inline-block;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 7px 5px 0 8px;
    text-align: center;
    width: 40px;
	background: #FFFFFF;
	border: 1px solid #000000;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .links a{
	color: #333333;
}
.product-info .cart .links a:hover {
	color: #EF2743;
}
.product-info .cart .minimum {
	padding-top: 10px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	line-height: 20px;
}
.product-info .review > div > a {
    color: #333333;
}
.product-info .review > div > a:hover {
	color: #EF2743;
}
.product-info .review .share a {
    color: #333333;
    float: left;
    padding-right: 10px;
    text-decoration: none;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 10px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    color: #1E1F23;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 20%;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 10px;
}
.wishlist-info thead td {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    color: #4D4D4D;
    font-weight: bold;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 10px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	border: 1px solid #DBDEE1;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
    margin-left: auto;
    margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}
#footer h3 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
#footer .column {
	float: left;
	width: 193px;
	min-height: 100px;
}
#footer .column ul {
	padding: 0px;
	list-style: none;
	color: #53565A;
}
#footer .column ul li {
	margin-bottom: 10px;
}
#footer .column a {
	text-decoration: none;
	color: #53565A;
}
#footer .column a:hover {
	color: #EF2743;
}
#powered {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dotted #A9A9A9;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #53565A;
	padding-left: 0px;
	padding-right: 0px;
}
#powered a{
	color: #53565A;
}
#powered a:hover{
	color: #EF2743;
}

.facebook {  background: url('../image/facebook.png') 0px 0px no-repeat; line-height: 26px;}
.twitter {  background: url('../image/twitter.png') 0px 0px no-repeat;}
.Instagram {  background: url('../image/instagram.png') 0px 0px no-repeat;}
a.facebook , a.twitter , a.Instagram {padding-left: 40px; height: 26px;  display: block; color: #53565A!important; clear: both; line-height: 26px;margin-bottom: 10px;}
a.facebook:hover {
	background: url('../image/facebook-hover.png') 0px 0px no-repeat; 
	color: #EF2743!important;
}
a.twitter:hover {
	background: url('../image/twitter-hover.png') 0px 0px no-repeat; 
	color: #EF2743!important;
}
a.Instagram:hover {
	background: url('../image/instagram-hover.png') 0px 0px no-repeat; 
	color: #EF2743!important;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}

.sale {
    background-color: #EF2743;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	font-family: Arial,Helvetica,sans-serif;
}

.sale2 {
    background-color: #EF2743;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
	position: absolute;
	right: 20px;
	top: 0px;
	font-family: Arial,Helvetica,sans-serif;
z-index: 10;
}

.tg-rating-0, .tg-rating-1, .tg-rating-2, .tg-rating-3, .tg-rating-4, .tg-rating-5, .tg-hot-rating-0, .tg-hot-rating-1, .tg-hot-rating-2, .tg-hot-rating-3, .tg-hot-rating-4, .tg-hot-rating-5 {
	width: 83px;
	height: 15px;
	text-align: center;
	display: inline-block;
	background-position:center; 
}

.tg-rating-0 {
	background: url('../image/stars-0.png') no-repeat;
}

.tg-rating-1 {
	background: url('../image/stars-1.png') no-repeat;
}

.tg-rating-2 {
	background: url('../image/stars-2.png') no-repeat;
}

.tg-rating-3 {
	background: url('../image/stars-3.png') no-repeat;
}

.tg-rating-4 {
	background: url('../image/stars-4.png') no-repeat;
}

.tg-rating-5 {
	background: url('../image/stars-5.png') no-repeat;
}




/************************************Latest Module Css*********************************************************/


#tg_latest_slider { width: 464px; display: inline-block; 
	padding-bottom: 13px;
	margin-top: -20px;
	border-left: 1px dotted #a9a9a9;
	float: right;
	}

#tg_latest_slider .box-heading {
	color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0;
	padding: 15px 20px;
	padding-top: 20px;
	padding-right: 0px;
	text-transform: uppercase;
	}
#tg_latest_slider .viewport { float: left; width: 450px; overflow: hidden; position: relative; }
#tg_latest_slider .viewport {min-height:260px; }
#tg_latest_slider .buttons { background:url("../image/slider_arrows.png")  0 0 no-repeat;  
                        display: block; 
						margin:0px;
						background-position: 0 0px; 
						text-indent: -999em; 
						width: 25px; 
						height: 25px; 
						overflow: hidden; 
						position: relative; 
						float:right;} 
#tg_latest_slider .next { background:url("../image/featured2-next-1.png")  0 0 no-repeat;  
                        display: block; 
						margin:0px;
						text-indent: -999em; 
						width: 20px; 
						height: 20px; 
						overflow: hidden; 
						position: relative; 
						float:right;
}
#tg_latest_slider .prev { background:url("../image/featured2-prev-1.png")  0 0 no-repeat;  
                        display: block; 
						margin:0px;
						text-indent: -999em; 
						width: 20px; 
						height: 20px; 
						overflow: hidden; 
						position: relative; 
						float:right;
						margin-right: 6px;
}
#tg_latest_slider .next.disable {  background:url("../image/featured2-next-0.png")  0 0 no-repeat; cursor: default;}
#tg_latest_slider .prev.disable {  background:url("../image/featured2-prev-0.png")  0 0 no-repeat; cursor: default;}

#tg_latest_slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width:100%; left: 0 top: 0; }
#tg_latest_slider .overview li{ float: left; 
							position: relative;
							padding-bottom:10px;
							width:180px;  
							
							text-align:center; }
							

#tg_latest_slider .overview li { width:155px!important; }							
							
#tg_latest_slider .overview li > div {
	background-color:#fff; 
	padding: 10px 0px 0 0px;
	text-align:center;
	min-height:215px;
}	
								  
#column-left #tg_latest_slider .overview li > div,
#column-right #tg_latest_slider .overview li > div{padding: 10px 10px 0 10px; }

#column-left #tg_latest_slider .overview li,
#column-right #tg_latest_slider .overview li{width:230px; }


.categorybox .overview li > div{ height:260px;}

								  
#tg_latest_slider .overview li > div:hover{ }								  						


#tg_latest_slider .cart{  }
#tg_latest_slider .name{ margin-bottom: 20px; }
		 
#tg_latest_slider .image{ margin-bottom:5px; position:relative; z-index:2; background: #FFFFFF; min-height: 125px;}
#tg_latest_slider .description{min-height: 40px; color: #898989; margin-left: 30px; margin-right: 30px;}
#tg_latest_slider .name a{
	font-size:14px;
    color:#53565a;
    text-decoration:none;
	}
#tg_latest_slider .rating {
	margin-bottom: 20px;
}	

#tg_latest_slider .price{ 
       color:#000000;
        font-family: 'Roboto', sans-serif;
		font-size:18px;
		font-weight:500;
		line-height:18px;
		margin-bottom: 20px;
		}
#tg_latest_slider .price-new { color:#000000;}
#tg_latest_slider .price-old { color:#F00;text-decoration: line-through; font-size: 14px;} 
.wishcomp {
	margin: 0px auto;
    text-align: center;
    width: 40px;
}
#tg_latest_slider .wishlist a  {
	text-decoration: none;
	display: block;
	background: url('../image/wishlist.png') no-repeat;
	width: 12px;
	height: 9px;
	float: left;
	text-align: center;
	margin-bottom: 20px;
}
#tg_latest_slider .wishlist a:hover {
	background: url('../image/wishlist-hover.png') no-repeat;
}
#tg_latest_slider .compare a  {
	color: #636363;
	text-decoration: none;
	text-align: center;
	display: block;
	background: url('../image/compare.png') no-repeat;
	width: 12px;
	height: 9px;
	float: right;
	margin-bottom: 20px;
}
#tg_latest_slider .compare a:hover {
	background: url('../image/compare-hover.png') no-repeat;
}
/* tg_latest_slider_button */
a.tg_latest_slider_button, input.tg_latest_slider_button {
	cursor: pointer;
	color: #ffffff;
	background: #EF2743;
	text-transform: uppercase;
	text-align: center;
}
a.tg_latest_slider_button {
	background: none repeat scroll 0 0 #EF2743;
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px 10px;
    text-transform: uppercase;
}
input.tg_latest_slider_button {
	margin: 0;
	height: 30px;
	padding: 0px 15px 0px 15px;
	text-align: center;
}
a.tg_latest_slider_button:hover, input.tg_latest_slider_button:hover {
	background: #000000!important;
}

/****************************************** effect hover *********************************/
.product-grid .latestbox {height:290px;}
.latestbox {
		height:390px;
		position: relative; 
		background: #FFFFFF;
}
.latestbox div.latestcontent {
		    position: relative;
			width:100%;  
            height:120px;
			padding:10px 0;
			z-index:1;
			bottom:0px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.tg_category_tab {
    margin:0 0 20px;
	border:1px dotted #a9a9a9;	
	background-color:#fff;
}
.tg_category_tab:after {display:block; clear:both; content:"."; visibility:hidden; line-height:0;}

.tg_tab {
	list-style: none;
    padding:0;
	 float:left;
    width:232px;
	    margin:0;
}
.tg_tab li {
    margin:0;
    padding:0;
}
.tg_tab li a {
    display:block;
    color:#000;
	font-size:16px;
	background: #EF2743;
	color: #FFFFFF;
	padding: 20px;
	text-transform: uppercase;
	border-top: 1px solid #f73a55;
	font-family: 'PT Sans', 'sans-serif';
	padding-top: 26px;
	padding-bottom: 26px;
}

.tg_tab li a.selected {
    color:#000000;
	background: #FFFFFF;
    cursor:default;
	border: none;

}
.tg_category_tab > div {
    padding:0px;
    min-height:100px;
}

.tg_category_tab .box-content{ 
	  margin:0;
}
.tg_category_tab #about_category{ display:table-cell}
.tg_category_tab .image_categ{ float:left; margin:0 20px 20px 0;}
.tg_category_tab .name_categ a{
	 text-decoration:none;
	 font-size:30px;
	 color:#000;
	 margin-bottom:10px;
	 font-family:'Roboto Condensed', Arial, Helvetica, sans-serif;}	
	 
.tg_category_tab .description_categ{margin-bottom:20px;}
	 
.tg_category_tab .block{
	float:left;
     position:relative;
     width:232px;
    padding:0px;
	 min-height:373px;
	 text-align:center;
	 border:none;
}

.tg_category_tab .block > div:after {
    border-right:1px dotted #a9a9a9;	
    bottom: 0;
    content: "";
    left: auto;
    position: absolute;
    right: 0;
    top: 0px;
    width: 1px;
}
.tg_category_tab .block:hover{
	box-shadow: none;
	-webkit-box-shadow: none);
    -moz-box-shadow:  none ;}  
	
.tg_category_tab .image {
	padding-bottom: 20px;
	padding:0;
	padding-top: 20px;
	position:relative; 
	background: #FFFFFF;
	z-index: 100;
	min-height: 203px;
	box-sizing: initial !important;
							-moz-box-sizing: initial !important;
							-webkit-box-sizing: initial !important;
	}

.tg_category_tab div.latestcontent { position: relative;
			width:100%;  
            height:120px;
			padding:10px 0;
			z-index:1;
			bottom:0px;} 
.tg_category_tab .name a{
	color: #53565a;
    font-size:14px;
	text-decoration: none;
	display: block;
	margin-bottom:20px;
} 
.tg_category_tab .name a:hover{ color:#EF2743;}	
.tg_category_tab .price {
	color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.tg_category_tab .price-old {
	color: #FF0000;
	text-decoration: line-through;
	font-size: 14px;
}
.tg_category_tab .price-new {
	color: #000000;
}
.tg_category_tab #buttonrow {
   left:-300px; 
   position:absolute; 
   z-index:2; 
   width:100%; 
   padding-top:3px; 
   bottom:0px; 
   text-align:center; 
   background-color:#FFF;
}
.tg_category_tab .rating{
	margin-bottom: 20px;
}
.tg_category_tab .cart, .tg_category_tab .featuredcart, .tg_category_tab .specialcart, .tg_category_tab .bestsellercart{
	background: #f5f5f5;
    float: left;
    padding-right: 0;
    width: 232px;
	border: 1px solid #e9e9e9;
	border-left: none;
	border-right: none;
	display: none;
}	


.tg_category_tab .wishlist a {
    background: url("../image/addtowishlist.png") no-repeat;
    display: inline-block;
    float: left;
    height: 38px;
    position: relative;
    width: 77px;
}

.tg_category_tab .wishlist a:hover {
    background: url("../image/addtowishlist-hover.png") no-repeat;
}	

.tg_category_tab .compare a {
    background: url("../image/addtocompare.png") no-repeat;
	display: inline-block;
    float: left;
    height: 38px;
    position: relative;
    width: 77px;
	border-left: 1px solid #e9e9e9;
}
.tg_category_tab .compare a:hover {
    background: url("../image/addtocompare-hover.png") no-repeat;
}
.tg_category_tab a.addtocart {
    background: url("../image/addtocart.png") no-repeat;
    border-left: 1px solid #e9e9e9;
    display: block;
    float: left;
    height: 38px;
    width: 77px;
}
.tg_category_tab a.addtocart:hover {
    background: url("../image/addtocart-hover.png") no-repeat;
}	
.tg_category_tab .block:hover #buttonrow{ 
    left:0px;
    transition-delay: 0; 
	transition-duration: 0.3s;
    transition-property: all;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);}
	  
/*******************horizontal slider****************************************/
#horizslide{overflow:hidden; position:relative; height:1%;}
#horizslide .viewport { float: left; width: 928px; overflow: hidden; position: relative; height:373px;}
#horizslide .overview {position: absolute; padding: 0; margin: 0; width:100%; left: 0; top: 0;}
#horizslide .arr2buttons { 
    display:block; 
	margin:0px;
	text-indent: -999em; 
	width: 21px; 
	height:21px; 
	top:171px;
	overflow: hidden; 
	position: absolute;
    z-index:112;	                			   
} 
#horizslide  .next { background: url("../image/featured2-next-1.png") no-repeat; right: 10px;}
#horizslide  .prev{ background: url("../image/featured2-prev-1.png") no-repeat; left:10px;} 
#horizslide  .next.disable {background: url("../image/featured2-next-0.png") no-repeat; right: 10px; }	
#horizslide  .prev.disable {background: url("../image/featured2-prev-0.png") no-repeat; left: 10px; }	

/******************* Style for Featured, Bestseller, Special Module ****************************************/

#tgfeaturedslide{overflow:hidden; position:relative; height:1%;}
#tgfeaturedslide .viewport { float: left; width: 100%; overflow: hidden; position: relative; height:373px;}
#tgfeaturedslide .overview {position: absolute; padding: 0; margin: 0; width:100%; left: 0; top: 0;}
#tgfeaturedslide .arr2buttons { 
    display:block; 
	margin:0px;
	text-indent: -999em; 
	width: 28px; 
	height:49px; 
	top:156px;
	overflow: hidden; 
	position: absolute;
    z-index:112;
} 
#tgfeaturedslide  .next { background: url("../image/featured-next-1.png") no-repeat; right: 0px;}
#tgfeaturedslide  .prev{ background: url("../image/featured-prev-1.png") no-repeat; left:0px;} 
#tgfeaturedslide  .next.disable {background: url("../image/featured-next-0.png") no-repeat; right: 0px; cursor: default; }	
#tgfeaturedslide  .prev.disable {background: url("../image/featured-prev-0.png") no-repeat; left: 0px; cursor: default;}							  

/*
----------------------------------------------------
------------- CATEGORY ACCORDION -------------------
----------------------------------------------------
*/
.box-category {
	padding-top: 5px;
}

.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
		
.box-category ul li { position: relative;}

.box-category > ul > li a.active + .accordion { background: transparent url(../image/accordion-visited.png) no-repeat; }

.box-category > ul > li {
	padding: 6px 0px 6px 0px;
}
.box-category > ul > li + li {

}
.content .box-category > ul > li + li {
	border-top: none;
}

.content .box-category {
	padding-top: 0px;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #333333;
	font-size: 13px;
}

.box-category > ul > li > a:hover {
	color: #EF2743;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	color: #EF2743;
	font-weight: 300;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 5px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	padding-left: 10px;
	color: #000000;
	font-weight: 300;
	font-size: 13px;
}
.box-category > ul > li ul > li > a:hover {
	color: #EF2743;
}
.box-category > ul > li ul > li > a.active {
	background: none;
}

.box-category .accordion {
	top: 10px;
	right: 0px;
	position: absolute;
	cursor: pointer;
	width: 9px;
	height: 9px;
	background: transparent url(../image/accordion.png) no-repeat;
	z-index: 10;
}

/************************************Box Product for Column Left and Right*********************************************************/	
#column-right .box .box-content, #column-left .box .box-content {
	font-size: 14px;
	color: #333333;
}
#column-right .box-product > div:first-child, #column-left .box-product > div:first-child {
	padding-top: 15px;
}
#column-right .box-product > div, #column-left .box-product > div {
	margin-bottom: 5px;
	width: 198px;
	margin-right: 0px;
	border: none;
	text-align: left;
	padding-bottom: 0px;
	position: relative;
}
#column-right .box-product > div + div, #column-left .box-product > div + div{
	padding-top: 15px;
}
#column-right .box-product .image, #column-left .box-product .image {
	margin-right: 15px;
	float: left;
	border: none;
	margin-left: 0px;
}
#column-right .box-product .image img, #column-left .box-product .image img {
	padding: 0;
	border: none;
}
#column-right .box-product .price, #column-left .box-product .price {
	margin: 0px;
	font-size: 14px;
	font-family: 'Roboto',sans-serif;
	font-weight: normal;
}
#column-right .box-product .name a, #column-left .box-product .name a {
	min-height: 0px;
	margin-bottom: 8px;
	padding-top: 0px;
	text-transform: none;
	color: #53565A;
	font-size: 13px;
	font-weight: normal;
}
#column-right .box-product .name a:hover, #column-left .box-product .name a:hover  {
	color: #EF2743;
}	

#column-right .sale2, #column-left .sale2{
	left: 0px;
}