.jcarousel55-skin-opencart {
  .jcarousel55-container {
    margin-bottom: 40px;
    padding-top: 20px !important;

    background: #fff;
  }
  .jcarousel55-direction-rtl {
    direction: rtl;
  }
  .jcarousel55-container-horizontal {
    padding: 0 0;
  }
  .jcarousel55-clip {
    overflow: hidden;

    width: 100%;
  }
  .jcarousel55-item {
    text-align: center;
    a {
      font-size: 12px;

      color: #53565a;
      &:hover {
        color: #ef2743;
      }
    }
  }
  .jcarousel55-item-horizontal {
    margin-right: 10px;
    margin-left: 0;
  }
  .jcarousel55-direction-rtl .jcarousel55-item-horizontal {
    margin-right: 0;
    margin-left: 10px;
  }
  .jcarousel55-item-placeholder {
    color: #000;
    background: #fff;
  }
  .jcarousel55-next-horizontal {
    position: absolute;
    top: 60px;
    right: 0;

    width: 21px;
    height: 21px;

    cursor: pointer;

    background: url('../image/button-next-1.png') center no-repeat;
  }
  .jcarousel55-direction-rtl .jcarousel55-next-horizontal {
    right: auto;
    left: 5px;

    background: url('../image/button-previous.png') center no-repeat;
  }
  .jcarousel55-next-disabled-horizontal {
    cursor: default;

    background: url('../image/button-next.png') center no-repeat !important;
    &:hover,
    &:focus,
    &:active {
      cursor: default;

      background: url('../image/button-next.png') center no-repeat !important;
    }
  }
  .jcarousel55-prev-horizontal {
    position: absolute;
    top: 60px;
    left: 0;

    width: 21px;
    height: 21px;

    cursor: pointer;

    background: url('../image/button-prev-1.png') center no-repeat;
  }
  .jcarousel55-direction-rtl .jcarousel55-prev-horizontal {
    right: 0;
    left: auto;

    background: url('../image/button-next.png') center no-repeat;
  }
  .jcarousel55-prev-disabled-horizontal {
    cursor: default;

    background: url('../image/button-prev.png') center no-repeat !important;
    &:hover,
    &:focus,
    &:active {
      cursor: default;

      background: url('../image/button-prev.png') center no-repeat !important;
    }
  }
}

/**
 *  Horizontal Buttons
 */
