/* MegaMenu
------------------*/

#menu {
  position: relative;

  overflow: visible;
  .background-menu {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#megaMenuToggle {
  display: none;
}

.container-megamenu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .container {
    width: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.megamenu-wrapper {
  position: relative;
  z-index: 4;
}

.megamenu-pattern {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

ul.megamenu {
  position: relative;
  z-index: 0;

  margin: 0;
  padding: 0;

  list-style: none;
  > li {
    float: left;

    width: auto;
    &.pull-right {
      float: right;

      margin-right: 0;
      margin-left: 20px;
    }
    .close-menu {
      display: none;
    }
    &.search {
      background: none;
    }
  }
}

/* Search */

#top ul.megamenu > li.search .search_form,
ul.megamenu > li.search .search_form {
  position: relative;

  margin: 11px 0;
  padding: 0;
}

#top ul.megamenu > li.search .search_form input {
  font-size: 14px;

  width: 227px;
  height: 36px;
  min-height: 36px;
  margin: 0;
  padding: 7px 15px 6px 40px;

  color: #555;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

ul.megamenu > li {
  &.search {
    .search_form input {
      font-size: 14px;

      width: 227px;
      height: 36px;
      min-height: 36px;
      margin: 0;
      padding: 7px 15px 6px 40px;

      color: #555;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
    .button-search2 {
      font-family: FontAwesome;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;

      position: absolute;
      top: 9px;
      left: 14px;

      cursor: pointer;

      color: #d7d7d7;

      -webkit-font-smoothing: antialiased;
      &:before {
        content: '\f002';
      }
    }
  }
  > a {
    font-size: 12px;
    line-height: 48px;

    position: relative;

    display: block;

    height: 48px;
    padding-right: 15px;
    padding-left: 15px;

    text-transform: uppercase;

    color: #949494;
  }
  &:hover {
    background: #ef2743;
    a {
      color: #fff;
    }
  }
  &.pull-right > a {
    margin-right: 0;
    margin-left: 34px;
  }
  > a {
    strong {
      font-weight: 700;

      color: #4b4b4b;
    }
  }
  > {
    a {
      > .icon-home {
        font-size: 23px;

        display: block;
      }
      img {
        height: 28px;
        margin-right: 10px;

        vertical-align: middle;
      }
      &.description {
        font-size: 14px;
        line-height: 1;

        padding: 17px 0 11px 0;
        padding-right: 15px;
        padding-left: 15px;

        text-transform: none;
        img {
          float: left;
        }
        .description {
          font-size: 11px;

          opacity: .9;
        }
        .description-left {
          float: left;

          width: auto;
        }
      }
    }
    .sub-menu {
      position: absolute;
      z-index: 20;

      display: none;
    }
  }
}

/* Submenu */

.horizontal ul.megamenu > li > .sub-menu {
  max-width: 100%;
}

ul {
  &.megamenu {
    li .sub-menu .content {
      -webkit-box-sizing: content-box !important;
         -moz-box-sizing: content-box !important;
              box-sizing: content-box !important;
      padding: 20px;

      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      a {
        color: #444;
        &:hover {
          color: #ef2743;
        }
      }
    }
    .sub-menu .content > {
      .row {
        padding-top: 20px;
      }
      .border {
        position: relative;

        margin: 0 -20px;
        padding-top: 20px;

        border-bottom: 1px solid #efefef;
      }
      .row:first-child {
        padding: 0;
      }
    }
    li .product {
      position: relative;

      text-align: center;

      background: #fff !important;
      .image {
        padding: 0;
        img {
          max-width: 100%;
          height: auto;
        }
        a {
          font-size: 0;
        }
      }
      .name {
        padding: 7px 0 0 0;

        background: #fff !important;
        a {
          font-size: 14px;

          color: #53565a;
          background: #fff !important;
          &:hover {
            color: #ef2743;
          }
        }
      }
      .price {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;

        color: #000;
      }
    }
  }
  &.manufacturer {
    position: relative;

    margin: -10px 0 0 0 !important;
    padding: 0;

    list-style: none;
    li {
      display: inline-block;

      margin: 10px 5px 0 0;
      a {
        font-size: 12px;

        display: block;

        padding: 2px 15px;

        text-transform: uppercase;

        color: #999 !important;
        border: 1px solid #ccc;
        background: #fff !important;
        &:hover {
          color: #ef2743 !important;
          border: 1px solid #ef2743;
        }
      }
    }
  }
  &.megamenu li .sub-menu .content {
    .static-menu {
      a.main-menu {
        font-size: 12px;
        font-weight: 600;

        display: block;

        text-transform: uppercase;

        color: #000;
        &:hover {
          color: #ef2743;
        }
      }
      .menu ul {
        margin: 0;
        padding: 5px 0;

        list-style: none;
        ul {
          padding: 5px 10px;
          li:before {
            padding-right: 0;
          }
        }
      }
      > .menu > ul > li {
        padding-top: 7px;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    .hover-menu {
      a.main-menu {
        display: block;
      }
      .menu ul {
        position: relative;

        margin: -20px -20px -20px -20px;
        padding: 0;

        list-style: none;
        ul {
          position: absolute;
          z-index: 10;
          left: 100%;

          display: none;

          width: 200px;
          margin: -41px 0 0 -10px;
          padding: 10px 0;

          border: 1px solid rgba(0, 0, 0, .15);
          -webkit-border-radius: 10px;
             -moz-border-radius: 10px;
                  border-radius: 10px;
          background: #fff;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
             -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          &:before {
            position: absolute;
            top: 14px;
            left: -11px;

            display: block;

            content: '';

            border-width: 10px;
            border-style: solid;
            border-color: transparent;
            border-right-color: #ccc;
            border-left-width: 0;
          }
          &:after {
            position: absolute;
            top: 14px;
            left: -10px;

            display: block;

            content: '';

            border-width: 10px;
            border-style: solid;
            border-color: transparent;
            border-right-color: #fff;
            border-left-width: 0;
          }
          li {
            position: relative;
          }
        }
      }
      a {
        display: block;

        padding: 12px 20px 12px 20px;

        color: #444;
        border-bottom: 1px solid #efefef;
        border-left: 3px solid #fff;
        background: #fff !important;
      }
      li:hover > a {
        color: #ef2743;
        border-left: 3px solid #ef2743;
      }
    }
  }
}

/* Product */

/* Manufacturer */

/* Static Menu */

/* Hover Menu */

/* Heading MegaMenu */

#megaMenuToggle {
  display: none;

  cursor: pointer;
}

.megamenuToogle-wrapper {
  position: relative;
  z-index: 20;

  color: #444;
  border-top: 1px solid #e1e4d9;
  border-bottom: 4px solid #e5e8df;
  .container {
    font-size: 14px;

    padding: 15px 20px 13px 20px !important;

    text-transform: uppercase;

    color: #4b4b4b;
    > div {
      float: left;

      width: 15px;
      margin: 2px 9px 0 0;
      span {
        display: block;

        width: 100%;
        height: 3px;
        margin-top: 2px;

        background: #4b4b4b;
      }
    }
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  &:before {
    display: table;

    content: ' ';
  }
  &:after {
    display: table;
    clear: both;

    content: ' ';
  }
  &:before {
    display: table;

    content: ' ';
  }
  &:after {
    display: table;
    clear: both;

    content: ' ';
  }
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-25,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;

  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-25 {
    float: left;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-11 {
    width: 91.66666666666666%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-25 {
    width: 20%;
  }

  .col-sm-push-1 {
    left: 8.333333333333332%;
  }

  .col-sm-push-2 {
    left: 16.666666666666664%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333333333333%;
  }

  .col-sm-push-5 {
    left: 41.66666666666667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.333333333333336%;
  }

  .col-sm-push-8 {
    left: 66.66666666666666%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333333333334%;
  }

  .col-sm-push-11 {
    left: 91.66666666666666%;
  }

  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }

  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }

  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }

  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }

  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }

  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-25 {
    float: left;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-11 {
    width: 91.66666666666666%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-25 {
    width: 20%;
  }

  .col-sm-push-1 {
    left: 8.333333333333332%;
  }

  .col-sm-push-2 {
    left: 16.666666666666664%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333333333333%;
  }

  .col-sm-push-5 {
    left: 41.66666666666667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.333333333333336%;
  }

  .col-sm-push-8 {
    left: 66.66666666666666%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333333333334%;
  }

  .col-sm-push-11 {
    left: 91.66666666666666%;
  }

  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }

  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }

  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }

  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }

  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }

  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

/* Responsive
------------------*/

@media (max-width: 767px) {
  /* MegaMenu Submenu */

  .responsive ul.megamenu .sub-menu .content {
    .border {
      display: none;
    }
    .row {
      margin: 0 -20px;
      > div {
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;

        border-top: 1px solid #e6e6e6;
      }
      &:first-child > div:first-child {
        margin-top: 0;
        padding-top: 0;

        border-top: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .responsive {
    #megaMenuToggle {
      display: block;
    }
    .megamenu-wrapper {
      position: relative;

      display: none;

      margin-top: -2px;

      border-bottom: 1px solid #e1e4d9;
      background: #fff !important;
      .container {
        padding: 0 !important;
      }
    }
    ul.megamenu > li {
      position: relative;

      display: block;
      float: none !important;

      width: auto;
      margin: 0;

      border-top: 1px solid #e1e4d9;
      background: none;
      &.home {
        display: none;
      }
    }
  }

  ul.megamenu > li.search {
    display: none;
  }

  .responsive {
    ul.megamenu > li {
      > a {
        height: auto;
        padding: 12px 20px 10px 20px;

        background: none !important;
        text-shadow: none;
        &:before {
          display: none !important;
        }
      }
      &.click:before,
      &.hover:before {
        font-family: FontAwesome;
        font-size: 16px;
        font-weight: 400;

        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;

        padding: 13px 17px 10px 50px;

        content: '\f067';

        color: #75513b;
      }
      &.active .close-menu {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 1px;

        display: block;

        width: 85px;
        height: 100%;
        padding: 12px 0 0 40px;

        cursor: pointer;
        text-align: center;

        background: #fff;
        &:before {
          font-family: FontAwesome;
          font-size: 18px;
          font-weight: 400;

          content: '\f068';

          color: #75513b;
        }
      }
    }
    .horizontal {
      ul.megamenu {
        > li > .sub-menu {
          width: 100% !important;
        }
        li .sub-menu .content .hover-menu {
          .menu ul ul {
            position: static;
            left: 0;

            display: block !important;

            width: auto;
            margin: 5px 10px;
            padding: 0;

            border: none;
            -webkit-border-radius: 0;
               -moz-border-radius: 0;
                    border-radius: 0;
            background: none;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
            &:before,
            &:after {
              display: none;
            }
          }
          a.main-menu:before {
            display: none;
          }
        }
      }
      .visible {
        padding: 5px 0 5px 0 !important;
        > div {
          margin: 0 !important;
          padding: 0 0 0 10px !important;

          border: none !important;
        }
      }
    }
  }

  /* Submenu */

  /* Hover Menu */
}

@media (min-width: 961px) {
  .megamenu-wrapper {
    display: block !important;
  }
}
